
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome feel free to make a Donation</h1>

    <p>
        <a asp-controller="MonetaryDonation" asp-action="Create" class="btn btn-primary">Make a $ Donation</a>
    </p>

    <br />

    <p>
        <a asp-controller="GoodsDonations" asp-action="Create" class="btn btn-primary">Make a Goods Donation</a>
    </p>

    <br />

    <p>
        <a asp-controller="DisasterDatas" asp-action="Create" class="btn btn-primary">Capture a new Disaster</a>
    </p>
</div>