@model IEnumerable<APPR6312_POE.Models.MonetaryDon>

@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>In a world where natural and man-made disasters loom unpredictably, a beacon of hope emerges in the form of the Disaster Alleviation Foundation. As a non-profit organization committed to making a difference when disaster strikes, the Disaster Alleviation Foundation, affectionately referred to as DAF, stands at the forefront of humanitarian efforts, poised to provide practical aid where it's needed most.</p>

    @* <p>
        <a asp-controller="MonetaryDonation" asp-action="Create" class="btn btn-primary">Create New</a>
    </p> *@
</div>



