@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1>@ViewData["Title"] <i class="bi bi-shield-fill-check"></i></h1>

    <p>At the Disaster Alleviation Foundation ("DAF"), we are deeply committed to protecting the privacy and personal information of our donors, partners, and website users. This Privacy Policy outlines how we collect, use, disclose, and safeguard your information when you interact with us.</p>
</div>