@model IEnumerable<APPR6312_POE.Models.DisasterMoney>

@{
    ViewData["Title"] = "TotalDisasterMoney";
}

<style>
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        background-color: #e5d7e4; /* Light purple background color */
        border-radius: 10px; /* Rounded corners */
        overflow: hidden; /* Hide overflow content for rounded corners */
    }

        .table th, .table td {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: left;
        }

        .table th {
            background-color: #f2f2f2;
        }

        .table tbody tr:nth-child(odd) {
            background-color: #f9f9f9;
        }

        .table tbody tr:hover {
            background-color: #d9edf7;
        }

        .table a {
            text-decoration: none;
            color: #007bff;
        }
</style>


<h1>Total Monetary Donations To Active Disasters</h1>
<br />
@{
    // Group the items by Disaster and calculate the total amount for each disaster
    var disasterTotals = Model.GroupBy(item => item.Disaster)
                             .Select(group => new
                             {
                                 Disaster = group.Key,
                                 TotalAmount = group.Sum(item => item.Amount)
                             })
                             .ToList();
}

<table class="table">
    <thead>
        <tr>
            <th>
                Disaster
            </th>
            <th>
                Total Amount
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var disasterTotal in disasterTotals)
        {
            <tr>
                <td>
                    @disasterTotal.Disaster
                </td>
                <td>
                    <p>R @disasterTotal.TotalAmount</p>
                </td>
                <td>
                   
                </td>
            </tr>
        }
    </tbody>
</table>
