@model IEnumerable<APPR6312_POE.Models.MonetaryDon>

@{
    ViewData["Title"] = "TotalMonetaryDonations";
}
<link rel="stylesheet" href="~/css/sketch.css" />
<style>
    body {
        background-color: orange;
    }
</style>



<div class="text-center">
    <h1>Total Monetary Donations <i class="bi bi-currency-dollar"></i></h1>
    <br />
    <br />
    <h2>Total: R @Model.Sum(item => item.Amount)</h2>
</div>



